:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #39b183;
}

.alert {
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  i {
    margin-right: 5px;
    color: $whiteTexte;
  }
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}
