#communauty-page {
  padding: 15vh 0;
  background-color: $midGrey;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    color: $whiteTexte;
  }
}

.communauty-text {
  h2 {
    color: $whiteTexte;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: $whiteTexte;
  }
  margin-bottom: 2rem;
}

.char-card-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.char-card {
  position: relative;
  display: flex;
  width: 60%;
  min-width: 500px;
  height: 200px;
  background-color: white;
  margin-bottom: 5px;
}

.char-text-container {
  display: flex;
  padding: 2rem;
  width: 65%;
  justify-content: space-between;
}
.char-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

#card-btn {
  margin-top: 0.5rem;

  padding: 10px 10px;
  background-color: $midGrey;
  cursor: pointer;
  color: $whiteTexte;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
  &:hover {
    background-color: $redActive;
  }
}
.avatar-card {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.char-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.interest-icon {
  display: flex;
  margin-bottom: 1rem;

  img {
    width: 35px;
    &:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
}

.discord-user {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .char-card-container {
    width: 70%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .char-card-container {
    width: 65%;
    height: 100%;
  }

  .char-card {
    display: flex;
    width: 100%;
    min-width: 200px;
    flex-direction: column;
    height: max-content;
    background-color: white;
    margin-bottom: 10px;
  }

  .char-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .char-info {
    margin-bottom: 2rem;
  }

  .avatar-card {
    height: max-content;
    width: 100%;
  }

  .char-interest {
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 479px) {
  .char-card-container {
    width: 65%;
    height: 100%;
  }

  .char-card {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: white;
    margin-bottom: 10px;
  }

  .char-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .char-info {
    margin-bottom: 2rem;
  }

  .avatar-card {
    height: max-content;
    width: 50%;
    border-radius: 50%;
  }

  .char-interest {
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
