.landing-header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/header5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  margin-left: 3rem;
  h1 {
    font-size: 4rem;
    color: $whiteTexte;
    margin-bottom: 0.3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    color: $whiteTexte;
    margin-bottom: 2.5rem;
    font-weight: normal;
  }
}

.header-btn {
  width: 200px;
  padding: 15px 25px;
  background-color: $red;
  border: none;
  cursor: pointer;
  color: $whiteTexte;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $redActive;
  }
}

#scroll-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .landing-header {
    // height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/header5.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-text {
    margin-left: 3rem;
    h1 {
      font-size: 4rem;
      color: $whiteTexte;
      margin-bottom: 0.3rem;
    }

    h2 {
      font-size: 1.5rem;
      color: $whiteTexte;
      margin-bottom: 2.5rem;
    }
  }

  .header-btn {
    width: 200px;
    padding: 10px 25px;
    background-color: $red;
    border: none;
    cursor: pointer;
    color: $whiteTexte;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $redActive;
    }
  }
}

@media screen and (max-width: 767px) {
  .landing-header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/header5.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    h1 {
      font-size: 3.7rem;
      color: $whiteTexte;
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.2rem;
      color: $whiteTexte;
      margin-bottom: 2.5rem;
      font-weight: normal;
    }
  }

  .header-btn {
    width: 200px;
    padding: 15px 25px;
    background-color: $red;
    border: none;
    cursor: pointer;
    color: $whiteTexte;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $redActive;
    }
  }

  #scroll-icon {
    opacity: 0.8;
    position: absolute;
    display: block;
    width: 25px;
    bottom: 6rem;
    animation: 1s Scroll 2s infinite;
  }

  @keyframes Scroll {
    0% {
      bottom: 6rem;
    }
    85% {
      bottom: 4rem;
    }
    100% {
      bottom: 6rem;
    }
  }
}
