#communauty {
  display: flex;
  align-items: center;
  background-color: $midGrey;
  justify-content: space-between;
  height: 50vh;
  transition: all 1s ease;

  img {
    width: 45%;
    min-width: 350px;
    transition: all 1s ease;
  }
}

.communauty-texte {
  width: 45%;
  text-align: right;
  margin-right: 3rem;

  h2 {
    color: $whiteTexte;
    margin-bottom: 2rem;
  }
  p {
    color: $whiteTexte;
  }
}

@media screen and (max-width: 1024px) {
  #communauty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;

    img {
      width: 45%;
      min-width: 350px;
    }
  }

  .communauty-texte {
    width: 40%;
    text-align: right;
    margin-right: 3rem;

    h2 {
      color: $whiteTexte;
      margin-bottom: 2rem;
    }
    p {
      color: $whiteTexte;
    }
  }
}

@media screen and (max-width: 767px) {
  #communauty {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: $midGrey;
    justify-content: space-between;
    height: 100%;
    transition: all 1s ease;
    padding-top: 3rem;

    img {
      width: 100%;
      min-width: 350px;
      transition: all 1s ease;
    }
  }

  .communauty-texte {
    width: 70%;
    text-align: left;
    margin-right: 0;

    h2 {
      white-space: nowrap;
      font-size: 2rem;
      color: $whiteTexte;
      margin-bottom: 1.5rem;
    }
    p {
      color: $whiteTexte;
      margin-bottom: 1.5rem;
    }
  }
}
