#gallery {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    height: 75%;
  }
}

.gallery-texte {
  width: 40%;
  min-width: 200px;
  h2 {
    margin-bottom: 2rem;
  }
}
