#register {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $midGrey;

  h2 {
    color: $whiteTexte;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  i {
    color: $whiteTexte;
    font-size: 1.5rem;
    margin-right: 5px;
  }

  p {
    color: $whiteTexte;
    width: 65%;
    a {
      color: rgb(67, 155, 255);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 200px;
}

.label-form {
  margin-bottom: 2rem;
  width: 65%;
  input[type='email'],
  input[type='text'],
  input[type='password'] {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid $whiteTexte;
    background-color: transparent;
    color: $lightGrey;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    color: $whiteTexte;
  }

  input[type='submit'] {
    width: 150px;
    padding: 15px 25px;
    background-color: $lightGrey;
    border: none;
    cursor: pointer;
    color: $whiteTexte;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    outline: none;

    &:hover {
      background-color: rgb(28, 160, 109);
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px $midGrey inset !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: $whiteTexte !important;
  }
  input[type='email']:focus,
  input[type='text']:focus,
  input[type='password']:focus {
    border-bottom: 1px solid rgb(67, 155, 255) !important;
  }
}
