$darkGrey: #121212;
$midGrey: #202225;
$lightGrey: #757575;
$whiteGrey: #c2c4cf;

$whiteTexte: rgba(255, 255, 255, 0.87);
$redActive: #dd4848;
$red: #b1302f;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $darkGrey;
  scroll-behavior: smooth;
  list-style-type: none;

  h2 {
    font-size: 2rem;
  }
}

body {
  overflow-x: hidden;
}

@import 'navBar';
@import 'header';
@import 'landingGallery';
@import 'landingCommunauty';
@import 'footer';
@import 'register';
@import 'login';
@import 'communauty';
@import 'alert';
@import 'dashboard';
@import 'spinner';
@import 'post';
@import 'createProfile';
@import 'addExperience';
@import 'experience';
@import 'activity';
@import 'profile';
